/* Work sans google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,800;1,800&display=swap');

/* shared styles */
* {
    font-family: "Work Sans", sans-serif;
}

.text-light-gray{
    color: rgb(114, 114, 114);
}

.btn-primary{
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    background: rgb(255, 144, 14); 
    padding: 20px 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 0;
}

/* header styles */
header{
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
}

.nav-title{
    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    font-weight: 700;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}

/* banner-styles */

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
}

.banner img{
    margin-top: 20px;
    width: 100%;
}

/* main styles */

main{
    max-width: 1440px;
    margin: 70px auto;
}

/* teams styles */

.teams-container{
    display: flex;
    align-items: center;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}

.teams-tittle{
    font-size: 2.8rem;
}

.teams-tittle .quick-list{
    color: rgb(114, 114, 114);
    font-weight: 500;
}

.teams-tittle .text-features{
    color: rgb(255, 144, 14);
    font-weight: 700;
}

/* responsive media query */
/* mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }

    nav,
     .teams-container{
        flex-direction: column;
    }

    .teams-img-container{
        grid-template-columns: 1fr;
    }
    
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }

   
}

/* tablet or medium devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }

    nav{
        flex-direction: column;
    } 
}
